<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">

    <title>
        新增餐具
    </title>

    <script src="https://unpkg.com/html5-qrcode"></script>

    <link rel="stylesheet"
          href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>新增餐具</h1>

    <select id="item_type">

        <option value="餐盒">
            餐盒
        </option>

        <option value="杯子">
            杯子
        </option>

    </select>

    <br><br>

    <div id="reader"></div>

    <h2 id="result"></h2>

</div>

<script>

function onScanSuccess(decodedText){

    fetch("/add_item", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({

            qr_code: decodedText,

            item_type:
                document.getElementById("item_type").value
        })
    })
    .then(res => res.json())
    .then(data => {

        document.getElementById("result").innerText =
            data.message;
    });
}

let html5QrCode = new Html5Qrcode("reader");

Html5Qrcode.getCameras()
.then(devices => {

    if (devices.length){

        let cameraId = devices[0].id;

        html5QrCode.start(

            cameraId,

            {
                fps: 10,
                qrbox: 250
            },

            onScanSuccess
        );
    }
});
</script>

</body>
</html>